<span><a href="">Home</a></span> | 
<span><a href="/admin">Admin</a></span> | 
<span><a href="/blog">First App</a> </span>
<br>
<br>
<br>
<textarea rows="30" cols="150">
Steps
$python -c "import django; print(django.__path__)"
1 - After installation of python, mysql, djadmin( $django-admin startproject project_name )
2 - inside project folder($python manage.py startapp blog)
3 - go to set-ups file{
	ALLOWED_HOSTS for virtual hosting,
	global template path,
	Database server, 
	Email Server
}
4 - migrate the in-built databases
5 - 
6 - create your static and templates folder in project folder
7 - routing of static pages
8 - create one app()
9 - Register your app in main Settings file
10 - include the path in main urls
11 - view.py is your controller
12 - model.py is fetching data to view
13 - forms.py will validation link between database and html form


</textarea>